# get data
KAGGLE_API_KEY=
OXEN_API_TOKEN=
ROBOFLOW_API_KEY=

# versioning
OXEN_AUTH_TOKEN=

# model
LLM_PROVIDER=openai
LLM_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/openai/
LLM_MODEL=gemini-3.1-pro-preview
# 25 RPM
# 1M TPM
# 250 RPD   
LLM_API_KEY=
LLM_TEMPERATURE=0.0

# model ocr
GLM_ENDPOINT=http://localhost:8000/v1
GLM_MODEL=zai-org/GLM-OCR

# configuration
PROMPT_REPETITION=false